
<div class="nav_container">

  <div class="navbar">
    <%= link_to root_path do %>
      <%= image_tag "home.png", class: "icon" %>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "home.png", class: "icon" %>
    <% end %>
    <%= image_tag "faces_stroked.png", class: "icon" %>
  </div>
</div>
