
<div class="nav_container">
  <div class="navbar">
    <form>
      <input type="image" src="<%= image_path('arrow.png')%>" class="arrow" onclick="history.back()">
    </form>
    <%#= link_to root_path do %>
      <%#= image_tag "arrow.png", class: "arrow" %>
    <%# end %>
    <%= link_to dashboard_path do %>
      <%= image_tag "home.png", class: "icon" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <%= image_tag "faces_stroked.png", class: "icon" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do%>
        <%= image_tag "faces_stroked.png", class: "icon" %>
      <% end %>
    <% end %>
  </div>
</div>
