<div class="container">

  <div class="image">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1500 1000" enable-background="new 0 0 439.3 289.6" xml:space="preserve">
<path fill="none" stroke="#000000" stroke-width="8.5039" stroke-miterlimit="10" d="M294.5,4.3c-27.5,0-53.2,7.9-74.8,21.6
	C198,12.2,172.3,4.3,144.8,4.3C67.2,4.3,4.3,67.2,4.3,144.8s62.9,140.6,140.6,140.6c27.5,0,53.2-7.9,74.8-21.6
	c21.7,13.7,47.3,21.6,74.8,21.6c77.6,0,140.6-62.9,140.6-140.6S372.1,4.3,294.5,4.3z"/>
<circle cx="335" cy="93.4" r="16.8"/>
<circle cx="217.5" cy="93.4" r="16.8"/>
<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -36.7542 98.1133)" cx="100.1" cy="93.4" rx="16.8" ry="16.8"/>
<path d="M363.7,165.7c0,0-20.9,57.4-86.2,57.4s-65.8-52.4-119.9-52.4s-75,48.2-75,48.2c-1.9,3.5-6.4,4.9-9.8,2.8
	c-5.4-3.4-2.6-10.2-2.6-10.2c6.5-18.8,26.8-34.8,31.1-37.9c4.3-3.1,21.8-17,56.7-17c34.9,0,61.4,26.1,61.4,26.1
	c27.2,27.2,58,26.5,58,26.5c55.7,0,73.2-48.7,73.2-48.7c1.4-3.6,5.5-5.4,9.1-3.9C363.4,158,365.1,162.1,363.7,165.7z"/>
</svg>
  </div>

  <h1>YouGood? ~ <%= current_user.first_name unless current_user.nil? %></h1>
  <div class="link-card">
    <%= link_to "New Check-in ~>", new_check_in_path %><br>
  </div>
  <div class="link-card">
    <%= link_to "The last 7 days ~>", check_ins_path %><br>
  </div>
  <div class="link-card">
    <%= link_to "Talk about it? ~>", chatrooms_path %><br>
  </div>
  <div class="link-card">
    <%= link_to "Find help if you are in crisis ~>", 'https://www.nhs.uk/service-search/mental-health/find-an-urgent-mental-health-helpline' %>
  </div>

</div>
